


.screen-container {
  height: auto;
  width: 100%;

}
.header {
  background: #1f16d0;
  width: 100%;
  height: 30px;
}
.hands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.left-hand,
.right-hand {
  flex: 1 1 auto;
  max-width: 50%;
  height: auto;
}
.band {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* titulo: nombre de la banda */
.screen-container h1 {
  color:blue;
  font-style: none;
  display: flex;
  justify-content:center;
  align-items:baseline;
  font-size: 3rem;
}

@media (min-width 480x ){
  .screen-container h1{
    font-size:1,5rem;
  }
  
}