*{margin: 0;
padding: 0;}



.title img{
height: auto;
width: 80vw;
display: flex;
margin-top: 6vh;
margin-bottom: 6vh;
justify-items:center;  



}
#root{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
